*:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-size: 100%;
  font-family: sans-serif;
  font-size: 10px;

}

.container {
  background-color: #D6D6D6;
  margin: 0px auto;
  width: 420px;
  box-sizing: border-box;

}

nav {
  margin: 0 auto;
  background-color: black;
  padding: 15px 0px 10px 0px;
  position: fixed;
  width: 420px;
}



.restaurant-list h1 {
  font-size: 1.5em;
  font-weight: 900;

}

.restaurant-list h3 {
  font-size: 1.2em;
  line-height: 1.5;
}

.restaurant-list {
  padding: 45px 0px 0px 0px;
}

.arrow {
  display: inline-block;
  padding: 5%;
}

.arrow-left {
  padding: 0px 0px 0px 20px;
}

.content {
  padding: 20px 0 15px 5%;
  display: inline-block;
  width: 80%;
}

.location {
  width: 100%;
  position: relative;
  box-sizing: border-box;
    border: 1px solid #ADADAD;
}

.location:hover {
  background-color:#7F7F7F;
}
